<div class="weather-hour__header">Hourly</div>
<div class="weather-hour__content">
    <div class="weather-hour__content-head">
        <div class="weather-hour__head-day"></div>
        <!-- <div class="weather-hour__head-img">
            <img src="img/img_sun.png" alt="img_weather">
        </div> -->
        <div class="weather-hour__head-body">
            <div class="weather-hour__head-forecast delimiter">Forecast</div>
            <div class="weather-hour__head-temp delimiter">Temp (В°C)</div>
            <div class="weather-hour__head-real delimiter">RealFeel</div>
            <div class="weather-hour__head-wind">Wind (km/h)</div>
        </div>
    </div>
    <div class="weather-hour__content-body"  *ngFor="let hour of hours">
        <div class="weather-hour__content-item">
            <div class="weather-hour__item-date">{{hour.dt_txt | date: "EEEE"}}</div>
            <div class="weather-hour__item-img">
                <img src="https://openweathermap.org/img/wn/{{hour.weather[0].icon}}.png" alt="img_weather">
            </div>
            <div class="weather-hour__item-forecast delimiter">{{ hour.weather[0].description }}</div>
            <div class="weather-hour__item-temp delimiter">{{ hour.main.temp }} °C</div>
            <div class="weather-hour__item-real delimiter">{{ hour.main.feels_like }} °C</div>
            <div class="weather-hour__item-wind"> {{ hour.wind.speed}} </div>
        </div>
    </div>
</div>