<div class="container">
  <div class="weather-header__content">
      <div class="weather-header__logo">MY WEATHER</div>
      <form class="weather-header__place">
          <input  type="text"
                  name="searh_city" 
                  placeholder="Enter city"/>
                  <!-- [(ngModel)]="cityName" -->
          <button type="submit" class="inputSearch"></button>
      </form>
  </div>
</div>

<div class="weather-navigation">
  <div class="container">
      <div class="weather-navigation__content">
          <!-- <button [class.active]="isVisibleToday" -->
          <button 
                  class="btn_nav" 
                  >Today</button>
                  <!-- (click)="buttonClickToday()" -->
                  
          <!-- <button [class.active]="isVisibleForecast"  -->
          <button 
                  class="btn_nav"
                  >5-day forecast</button>
                  <!-- (click)="buttonClickForecast()" -->
      </div>
  </div>
</div>

<div class="weather-body">
  <div class="container">
      <div class="weather-current">
          <app-current></app-current>
      </div>
      <div class="weather-5days">
          <app-forecast></app-forecast>
      </div>
      <div class="weather-hour">
          <app-hour></app-hour>
      </div>
  </div>
</div>