<div class="container">
  <div class="weather-header__content">
      <div class="weather-header__logo">MY WEATHER</div>
      <form class="weather-header__place" (change)="getInputValue()">
          <input  type="text"
                  name="searh_city" 
                  placeholder="Enter city"
                  [(ngModel)]="cityName"/>
          <button type="submit" class="inputSearch"></button>
      </form>
  </div>
</div>

<div class="weather-navigation">
  <div class="container">
      <div class="weather-navigation__content">
          <!-- <button [class.active]="isVisibleToday" -->
          <button class="btn_nav"
                  (click)="btnClickToday()"
                  >Today</button>
                  
          <!-- <button [class.active]="isVisibleForecast"  -->
          <button class="btn_nav"
                  (click)="btnClickFiveDay()"
                  >5-day forecast</button>
      </div>
  </div>
</div>

<div class="weather-body">
  <div class="container">
      <div class="weather-current" *ngIf="isVisibleCurrent">
          <app-current [today]="today"></app-current>
      </div>
      <div class="weather-5days" *ngIf="isVisibleForecast">
          <app-forecast></app-forecast>
      </div>
      <div class="weather-hour">
          <app-hour></app-hour>
      </div>
  </div>
</div>